*{
    margin: 0;
}

#contenedor{
    border: 1px solid blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards{
    border: 2px solid yellow;
    margin: 10px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    ;
}